<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
  margin-top: 50px;
}

.card {
  margin-bottom: 50px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.card-text {
  font-size: 24px;
  margin-bottom: 10px;
}

.btn-primary {
  margin-top: 20px;
}
        </style>
      <body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Login Successful</h1>
          <p class="card-text">Welcome {{ username }}</p>
          <p class="card-text">You are now logged in.</p>
          <a href="{% url 'webapp:about' %}" class="btn btn-primary">Click here to read about my life.</a>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>